@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
 

/**
	
	MEDIA QUERIES
	 
**/

@media screen and (max-width: 675px){
    .content{
        padding: 25px;
        text-align: justify;
    }
    
    .header{
	    width:250px;
	    margin:0 auto;
	}

    /* 
	    
	    MOBILE NAVIGATION 
	    
	 */
    #mobile-nav-opener{
        display: none;
    }

    #mobile-nav-opener ~ label{
        display: block;
        text-align: center;
        background-color: #000;
        padding: 15px 0px;
        color: #fff;
    }
    #mobile-nav-opener ~ label h2{
        margin: 0px;
    }

    #mobile-nav-opener ~ .mobile-nav{
        max-height: 0;
        transition: max-height .5s;
        -webkit-transition: max-height .5s;
        overflow: hidden;
    }

    #mobile-nav-opener:checked ~ .mobile-nav {
        max-height:200px;
    }

    .mobile-nav a, .mobile-nav a:visited{
        display: block;
        padding: 10px;
        text-align: center;
        background-color:#87080E;
        color: #fff;
        text-decoration: none;
        -webkit-transition: color 1s, background-color: 1s;
        transition: color 1s, background-color: 1s;
    }
    .mobile-nav a:hover{
	    color: #87080E;
	    background-color: #fff;
    }
    

    .mobile-nav a:first-child{
        padding-top:15px;
    }
    .mobile-nav a:last-child{
        padding-bottom:15px;
    }
    
    .mobile-nav-head{
		font-size: 1.5em;    
    }
    
    
    /** CARDS **/
    .card{
	    text-align: left;
    }
}

@media screen and (min-width: 675px){
    .navigation ul li{
        display: inline-block;
    }
    
    nav input, nav label{
	    display: none;
    }
    
    .navigation{
	    height: 60px;
    }
    
    .navigation nav{
		margin-top: 20px;
    }
    
    .desktop-nav{
	    width: 480px;
	    margin: 0 auto;
    }
    
    .desktop-nav a{
	    width: 30%;
	    font-size: 18px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    padding-left: 15px;
	    padding-right: 15px;
	    -webkit-transition: color .5s, background-color .5s, text-decoration 1s;
	    transition: color .5s, background-color .5s, text-decoration 1s;
	    text-decoration: underline;
    }
    
    .desktop-nav a:hover{
	    color: #fff;
	    background-color: #87080E;
	    text-decoration: none;
	    cursor: pointer;
	    
    }
    
    .content{
	    width: 660px;
	    margin: 0 auto;
    }
    
    .desktop--div_ib{
	    display: inline-block;
    }
    
    .hello{
	    vertical-align: middle;
    }
    
    .hello h1{
	    margin-left: 15px;
    }
    
    .div_copy{
	    text-align:justify;
    }

} /* min height 675 */

@media screen and (min-width: 950px){

	.content.cards{
		min-width: 90%;
	}
	
	.card{
		display: inline-block;
		width: 47%;
		vertical-align: top;
		margin-right: 25px;
		margin-bottom: 25px;
	}

}

/** 
	
	EVERYTHING 
	
**/

.header img{
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

.rit-orange{
	color: #87080E;
	font-weight: bold;
}
.rit-orange-head{
	color: #87080E;
	font-weight: 300;
}

a:visited, a{
	color: #87080E;
}

h1{
	font-weight: 100;
}

h2, h3{
	font-weight: 300;
}


/** CARD SECTION **/
.card-section h2{
	border-bottom: solid 1px #87080E;
	padding-top: 10px;
}

.card-section ul{
	list-style-type: none;
	padding-right: 20px; 
	padding-left: 20px;
	padding-bottom: 1px;
}

.card-section{
	margin-bottom: 50px;
}

.card ul li{
	margin-top: 13px;
	margin-bottom: 13px;
	padding-left: 10px;
	border-left: 1px solid #87080E;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3{
	background-color: #87080e;
	color:#fff;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.card h4{
	margin-left: 20px;
}

@media print{
	nav{
		display: none;
	}
}
